<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Product Form</h1>
    <form action="/products/add" method="POST">
        <p><input type="text"placeholder="Product Name"/></p>
        <p><input type="number" placeholder="Price"/></p>
        <p><input type=""</p>
        <p><input type=""</p>
    </form>
</body>
</html>